---
title: Chi può usare il defibrillatore?
autore: Luca Nicola
date: 2014-04-05 21:10 UTC
tags: aspetti legali, uso, legge, regole
image: "https://lh6.googleusercontent.com/-2KK66ulVC7s/U1EkXn9PhUI/AAAAAAAAmL0/ub2bik6Rx0w/h500-no/B_FPX0092.jpg"
---

<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>