---
title: In Italia 60.000 persone colpite ogni anno
autore: Luca Nicola
date: 2014-04-07
tags: dati, informazione, sensibilizzazione
published: true
image: "https://lh4.googleusercontent.com/-rK_a6hQKSbI/U1EkW2Iv2oI/AAAAAAAAmLs/wfpuw8pGcYQ/h500-no/AED0210-TCOX+2323+planning.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
