---
title: Cosa fare nell'emergenza
autore: Luca Nicola
date: 2014-04-08
tags: gestione emergenza, cosa fare, informazione, sensibilizzazione
image: "https://lh5.googleusercontent.com/-CXXGqb-fhR4/U1EkW-B6pzI/AAAAAAAAmLk/Y2698G5DZGI/h500-no/AED0210-TCOX+0713+hospitality.jpg"
---

<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>