---
title: Arresto Cardiaco - Colpisce all'improvviso, può colpire chiunque
autore: Luca Nicola
date: 2014-04-09
tags: "informazione, sensibilizzazione"
image: "https://lh4.googleusercontent.com/-YG5A3BAFbe4/U1EkZWdrzvI/AAAAAAAAmMI/jr-yasBO15A/h500-no/AED0210-TCOX+0529+spa.jpg"
published: true
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
---

<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
