---
title: Morosini poteva essere salvato
autore: Luca Nicola
date: 2014-04-01
published: true
tags: "personaggi, caso reale"
category: News
image: "https://lh4.googleusercontent.com/-V3KBiKA9V-k/U1EkX7PlwZI/AAAAAAAAmL8/YxRl0h_Jc8g/h500-no/B_FPX0094.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>

<p>
    <%= lorem.paragraph %>
</p>