<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Deibrillatori Philips" %></title>

    <% if current_page.data.metadata.description  %>
        <meta name="description" content="<%= data.page.metadata.description %>" />
    <% end %>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
<body class="<%= page_classes %>">

<!-- codice ANALITYCS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19846103-16', 'defibrillatori-online.com');
  ga('send', 'pageview');

</script>


<!-- Nav Bar -->
<div class="contain-to-grid menu">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="/"><img alt="Defibrillatori Philips" src="https://lh6.googleusercontent.com/-34YbdpE2f6c/U0025W216cI/AAAAAAAAlzE/-OIpzXG15X4/w160-h60-no/logo.png"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><%= link_to 'Cosa dice la legge', '/cosa-dice-la-legge' %></li>
                <li><%= link_to 'Come scegliere', '/come-scegliere-un-defibrillatore' %></li>
                <li><%= link_to 'Corsi di Abilitazione', '/abilitarsi-alluso' %></li>
                <li><%= link_to 'Defibrillatori Philips', '/defibrillatori-philips' %></li>
                <li><%= link_to 'Prezzi', '/prezzi' %></li>
            </ul>
        </section>
    </nav>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 hide-for-small">
                <div id="featured">
                    <%= tag :img, :src => current_page.data.immagineTestata, :title => current_page.data.title %>
                </div>
            </div>
        </div>
        <% if current_page.data.testoTestata  %>
            <div class="row over">
                <div class="large-12 hide-for-small">
                    <%= current_page.data.testoTestata %>

                        <div class="numero_verde">800 782 217</div>

                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="large-12 columns show-for-small">
                <img src="http://placehold.it/1200x700&text=Mobile Header">
            </div>
        </div>
    </div>
</div>

<br/>


    <div class="row">
        <div class="large-8 columns">
            <%= yield %>
        </div>

        <% if current_page.data.showForm  %>
            <%= partial "partials/wufooForm" %>
        <% end %>
    </div>

    <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
                <div class="large-4 columns">
                    <h6 class="subheader">PERCHÈ DOTARSI DI DEFIBRILLATORE</h6>
                    <ul>
                        <li><strong>Puoi salvare una vita</strong></li>
                        <li>Dai al tuo ambiente un'immagine sicura e positiva</li>
                        <li>Ridurci il rischio di responsabilità civile</li>
                    </ul>
                </div>

                <div class="large-4 columns">
                    <h6 class="subheader">OBBLIGATORIO PER LEGGE</h6>
                    <p>
                        A partire dal 27 Aprile 2013 è OBBLIGATORIO per tutte le società sportive dotarsi di defibrillatori<br />
                        <%= link_to 'Cosa dice la legge', 'cosa-dice-la-legge' %>
                    </p>

                </div>

                <div class="large-4 columns end">
                    <img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">
                    <br />
                    <i>Distributore Ufficiale</i><br />
                    <img src="http://lh3.googleusercontent.com/-UfeQEuo1mqo/U0JAw1w1hPI/AAAAAAAAjLE/nxTVvN283RE/w109-h21-no/mainlogo.gif"><br />
                    <i>P.IVA: 10574970017</i>

                </div>

            </div>
        </div>
      </footer>

    <%= javascript_include_tag  "all" %>

    <% if current_page.data.conversionCode  %>
        <%= current_page.data.conversionCode %>
    <% end %>

<!-- Google Code per il tag di remarketing -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 983718396;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/983718396/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</body>


</html>