<% wrap_layout :master_layout do %>

    <!-- Nav Bar -->
    <div class="contain-to-grid menu show-for-medium-up">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <!--http://lh6.googleusercontent.com/-34YbdpE2f6c/U0025W216cI/AAAAAAAAlzE/-OIpzXG15X4/w160-h60-no/logo.png -->
                    <a href="/"><img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png"></a>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><%#= link_to 'Defibrillatori Philips', '/' %></li>
                    <li><%= link_to 'Società Sportive', '/sport' %></li>
                    <li><%= link_to 'Batterie e Piastre', '/store' %></li>
                    <li><%= link_to 'Come scegliere', '/come-scegliere-un-defibrillatore' %></li>
                    <li><%= link_to 'Notizie', '/news' %></li>
                    <li class="has-dropdown">
                            <a href="/blog"><%= link_to 'Blog', '/blog' %></a>
                            <ul class="dropdown">
                                <li><%= link_to 'Magazine', '/blog' %></li>
                                <li><%= link_to 'Cosa dice la legge', '/cosa-dice-la-legge' %></li>
                                <li><%= link_to 'Corsi di Abilitazione', '/abilitarsi-alluso' %></li>
                            </ul>
                    </li>
                </ul>
            </section>
        </nav>
    </div>

    <%= yield %>



    <div class="row">
        <hr>
        <div class="large-12 medium-12 columns">

        <% if current_page.data.showForm  %>

            <%= partial("formContatti", :locals => { :showForm => current_page.data.showForm}) %>

        <% end %>

        <% if current_page.path.chomp != 'sport.html'  and  current_page.path.chomp != 'store/defibrillatori.html' %>
            <%= partial("banner_promo_large", :locals => { :bannerType => 'promo_sport'}) %>
        <% end %>

        </div>
    </div>

    <footer class="row">
        <hr>
            <div class="row">
                <div class="large-2 medium-2 small-6 columns">
                    <img alt="Defibrillatori Philips" src="http://lh6.googleusercontent.com/-znUVyJZm73E/U3mY94YJ0WI/AAAAAAAAmRo/JR4IpRmwXHg/h61-no/distributore_ufficiale.png">
                </div>

                <div class="large-4 medium-4 columns hide-for-small">
                    <h6 class="subheader">PERCHÈ DOTARSI DI DEFIBRILLATORE</h6>
                    <ul>
                        <li><strong>Puoi salvare una vita</strong></li>
                        <li>Dai al tuo ambiente un'immagine sicura e positiva</li>
                        <li>Riduci il rischio di responsabilità civile</li>
                    </ul>
                </div>

                <div class="large-3 medium-3 columns hide-for-small">
                    <h6 class="subheader">OBBLIGATORIO PER LEGGE</h6>
                    <p>
                        A partire dal 27 Aprile 2013 è OBBLIGATORIO per tutte le società sportive dotarsi di defibrillatori<br />
                        <%= link_to 'Cosa dice la legge', '/cosa-dice-la-legge' %>
                    </p>

                </div>

                <div class="large-3 medium-3 small-6 columns end">
                    <%= link_to '<img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">', '/iredeem' %></li>
                    <br />
                    <i>
                    Via Cesare Boldrini 20<br />
                    40121 Bologna<br />
                    P.IVA: 10574970017</i><br />
                    <!-- <i>Distributore Ufficiale</i> <img alt="Defibrillatori Philips" src="http://lh3.googleusercontent.com/-UfeQEuo1mqo/U0JAw1w1hPI/AAAAAAAAjLE/nxTVvN283RE/w70-no/mainlogo.gif"><br /> -->
                    <p>
                        <%= link_to 'Chi siamo', '/iredeem' %>
                    </p>


                </div>

            </div>
    </footer>


<% end %>