<% wrap_layout :layout do %>

    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="row">
                <div class="large-12 hide-for-small">
                    <div id="featured">
                        <%= tag :img, :src => current_page.data.immagineTestata, :title => current_page.data.title %>
                    </div>
                </div>
            </div>
            <% if current_page.data.testoTestata  %>
                <div class="row over">
                    <div class="large-12 hide-for-small">
                        <%= current_page.data.testoTestata %>
                        <%= partial "callToAction" %>
                            <!-- <div class="numero_verde">800 782 217</div> -->

                    </div>
                </div>
            <% end %>

            <div class="row">
                <div class="large-12 columns show-for-small">
                    <div class="box_nverde">
                        <h1>Defibrillatore Philips</h1>
                        <span>Chiama il Numero Verde gratuito!</span><br />
                                <span class="numero"> 800 782 217 </span><br />
                                <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>
                            </div>
                </div>
            </div>
        </div>
    </div>

    <br/>


    <div class="row">
        <div class="large-12 medium-12 columns">
            <%= yield %>

            <hr>

            <div id="formContatti" class="row">

                <div class="wufooNew columns">
                    <%= partial "wufooForm" %>
                </div>

                <div class="large-5 medium-5 columns">
                    <h3>
                        Siamo a tua disposizione <br/>
                        <span class="small">(Lun-Ven dalle 8.30 alle 17.30)</span>
                    </h3>
                    <ul class="large-block-grid-1">
                        <li>
                            <h5 class="subheader"><i class="fa fa-tachometer"></i> Ricevi un preventivo in pochi minuti compilando il form</h5>
                        </li>
                        <li>
                            <h5 class="subheader"><i class="fa fa-headphones"></i> Un esperto è qui per rispondere alle tue domande</h5>
                        </li>
                        <li>
                            <h5 class="subheader"><i class="fa fa-phone"></i> Se preferisci ti chiamiamo noi al telefono, così ne parliamo</h5>
                        </li>
                        <li>
                            <div class="box_nverde">
                                <span>Usa il Numero Verde gratuito!</span><br />
                                <span class="numero"> 800 782 217 </span><br />
                                <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>
                            </div>
                        </li>
                        <li>
                            <img src="http://lh3.googleusercontent.com/-KPf0PQ1FKN0/U000JXHi_1I/AAAAAAAAlyM/p9hml4FO2sw/w400-no/_M5066A_OnSite_Angledview_lg.jpg">
                        </li>
                    </ul>

                </div>

            </div>
            <%= partial("banner_promo_large", :locals => { :bannerType => 'philips'}) %>
        </div>
    </div>


<% end %>