<div class="row">

        <dl class="accordion" data-accordion>
            <dd>
                <a href="#semplice">
                    <h2>
                        <div class="row">
                            <div class="large-11 medium-11 small-11 columns active">
                                <i class="fa fa-smile-o"></i>
                                <i>Semplice e intuitivo</i>
                            </div>
                            <div class="large-1 medium-1 small-1 columns">
                                <i class="fa fa-level-down"></i>
                            </div>
                        </div>
                    </h2>
                </a>

                <ul id="semplice" class="large-block-grid-2 medium-block-grid-2 content <%= accordionState %> small">
                    <li>
                        <h4>Utilizzabile da persone comuni</h4>
                        <p>
                            Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare un defibrillatore.

                            Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
                        </p>
                    </li>
                    <li>
                        <h4>La responsabilità è del defibrillatore</h4>
                        <p>
                            Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grado di diagnosticare se veramente il paziente ha bisogno di una scarica. <strong>Nessuna possibilità di errore</strong>!
                        </p>
                    </li>

                    <li>
                        <h4>Facile e intuitivo con comandi vocali</h4>
                        <p>
                            <strong>Il defibrillatore Philips ti guida con la voce</strong>. Nulla da leggere o da interpretare.

                            Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
                        </p>
                    </li>

                    <li>
                        <h4>Adatto ad adulti e bambini</h4>
                        <p>
                            Rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.
                        </p>
                    </li>

                    <li>
                        <h4>Il più veloce della sua categoria</h4>
                        <p>
                            Grazie alla tecnologia brevettata QuickShock è il più veloce nell’erogazione della scarica.
                        </p>
                    </li>

                    <li>
                        <h4>Software gratuito incluso</h4>
                        <p>
                            Il defibrillatore è dotato di software per la registrazione, lo scarico e la condivisione dei dati.
                        </p>
                    </li>

                    <%= partial "callToAction" %>

                </ul>


            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>

                <a href="#affidabile">
                    <h2>
                        <div class="row">
                            <div class="large-11 medium-11 small-11 columns">
                                <i class="fa fa-wrench"></i> <i>Affidabile</i>
                            </div>
                            <div class="large-1 medium-1 small-1 columns">
                                <i class="fa fa-level-down"></i>
                            </div>
                        </div>
                    </h2>
                </a>

                <ul id="affidabile" class="large-block-grid-2 medium-block-grid-2 content <%= accordionState %> small">
                    <li>
                        <h4>8 anni di Garanzia</h4>
                        <p>
                            Garanzia su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
                        </p>
                    </li>
                    <li>
                        <h4>Sempre pronto all'utilizzo</h4>
                        <p>
                            Il defibrillatore ha una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita manutenzione.
                        </p>
                    </li>

                    <li>
                        <h4>Test automatici di autoverifica</h4>
                        <p>
                            Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
                        </p>
                    </li>

                    <li>
                        <h4>Consumabili a prezzi convenienti</h4>

                        <ul class="small">
                            <li>Batteria: <strong>165 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                        </ul>

                    </li>
                    <%= partial "callToAction" %>
                </ul>
            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#assistenza">
                    <h2>
                        <div class="row">
                            <div class="large-11 medium-11 small-11 columns">
                                <i class="fa fa-briefcase"></i> <i><span class="hide-for-small">Centri </span>Assistenza in tutta Italia</i>
                            </div>
                            <div class="large-1 medium-1 small-1 columns">
                                <i class="fa fa-level-down"></i>
                            </div>
                        </div>

                    </h2>
                </a>

                <ul id="assistenza" class="large-block-grid-2 medium-block-grid-2 content <%= accordionState %> small">
                    <li>
                        <h4>Centri Assistenza in tutta Italia</h4>
                        <p>
                            Iredeem, distributore Ufficiale Philips, offre un’assistenza capillare in tutte le città italiane. Persone vere a tua disposizione per ogni necessità.
                        </p>
                    </li>
                    <li>
                        <h4>Installazione e collaudo</h4>
                        <p>
                            Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico</strong>. Non dovrai preoccuparti di nulla!
                        </p>
                    </li>

                    <li>
                        <h4>Persone in carne e ossa</h4>
                        <p>
                            Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
                        </p>
                    </li>

                    <li>
                        <h4>Aggiornamenti inclusi</h4>
                        <p>
                            In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.

                            La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
                        </p>
                    </li>
                    <li>
                        <h4>Assistenza in caso di uso</h4>
                        <p>
                            In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
                        </p>
                    </li>
                    <li>
                        <h4>Formazione all'uso</h4>
                        <p>
                            Iredeem, distributore Ufficiale di Philips, offre la gestione dei corsi BLSD e dei relativi corsi di aggiornamento a prezzi vantaggiosi per chi acquista un defibrillatore Philips.
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>

</div>