<div id="formContatti" class="row">

    <div class="wufooNew columns show-for-medium-up">
        <p class="header">
            <span class="big"><%= data.page.testataForm.prima || "RICHIEDI" %></span><br />
            <span class="medium"><%= data.page.testataForm.seconda || "UN PREVENTIVO GRATUITO" %></span>
        </p>
        <%= partial("wufooForm", :locals => { :showForm => showForm}) %>
    </div>

    <div class="show-for-small-only">
        <div class="row panel">
        <div class="small-12 columns">
        <p class="header">
            <span class="big"><%= data.page.testataForm.prima || "RICHIEDI" %></span><br />
            <span class="medium"><%= data.page.testataForm.seconda || "UN PREVENTIVO GRATUITO" %></span>
        </p>
        <iframe height="541" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fucinadeltag.wufoo.com/embed/sifalzi1p1jf18/"><a href="https://fucinadeltag.wufoo.com/forms/sifalzi1p1jf18/">Fill out my Wufoo form!</a></iframe>
        </div>

        </div>
    </div>


    <div class="large-5 medium-5 columns show-for-medium-up">
        <h3>
            Siamo a tua disposizione <br/>
            <span class="small">(Lun-Ven dalle 8.30 alle 17.30)</span>
        </h3>
        <ul class="large-block-grid-1">
            <li>
                <h5 class="subheader"><i class="fa fa-tachometer"></i> Ricevi un preventivo in pochi minuti compilando il form</h5>
            </li>
            <li>
                <h5 class="subheader"><i class="fa fa-headphones"></i> Un esperto è qui per rispondere alle tue domande</h5>
            </li>
            <li>
                <h5 class="subheader"><i class="fa fa-phone"></i> Se preferisci ti chiamiamo noi al telefono, così ne parliamo</h5>
            </li>
            <li>
                <div class="box_nverde">
                    <span>Usa il Numero Verde gratuito!</span><br />
                    <span class="numero"> 800 782 217 </span><br />
                    <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>
                </div>
            </li>
            <li class="show-for-medium-up">
                <img src="http://lh3.googleusercontent.com/-KPf0PQ1FKN0/U000JXHi_1I/AAAAAAAAlyM/p9hml4FO2sw/w400-no/_M5066A_OnSite_Angledview_lg.jpg">
            </li>
        </ul>

    </div>

</div>