---
layout: page_new
title: Philips - Defibrillatore Semiautomatico - Puoi Salvare una Vita!
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>
                    Defibrillatore <span>Philips HS1</span><br />
                    Semplice e intuitivo!
                </h1>

testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: true
---
<%= partial "banner_promo_large" %>
<p />


<div class="row">
    <div class="large-12 columns">

        <dl class="accordion" data-accordion>
            <dd>
                <a href="#semplice"><h2><i><i class="fa fa-smile-o"></i> Semplice e intuitvo</i></h2></a>

                <ul id="semplice" class="large-block-grid-2 content small">
                    <li>
                        <h4>Utilizzabile da persone comuni</h4>
                        <p>
                            Chiunque con un corso di appena 8 ore può usare un defibrillatore. Per essere usato <strong>non necessita di personale medico</strong>.

                            Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
                        </p>
                    </li>
                    <li>
                        <h4>La responsabilità è del defibrillatore</h4>
                        <p>
                            Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grasdo da solo di diagnosticare se veramente il paziente ha bisogno di scarica. <strong>Nessuna possibilità di errore</strong>!
                        </p>
                    </li>

                    <li>
                        <h4>Facile e intuitivo con comandi vocali</h4>
                        <p>
                            <strong>Il defibrillatore Philips vi guida con la voce</strong>. Nulla da leggere o da interpretare.

                            Con un design semplice ed essenziale guida il soccorritore in ogni fase di utilizzo.
                        </p>
                    </li>

                    <li>
                        <h4>Adatto ad adulti e bambini</h4>
                        <p>
                            Rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.
                        </p>
                    </li>

                    <li>
                        <h4>Il più veloce della sua categoria</h4>
                        <p>
                            Grazie alla tecnologia brevettata QuickShock è il più veloce nell’erogazione della scarica.
                        </p>
                    </li>

                    <li>
                        <h4>Software gratuito incluso</h4>
                        <p>
                            Il defibrillatore è dotato di software per la registrazione, lo scarico e la condivisione dei dati.
                        </p>
                    </li>

                    <%= partial "callToAction" %>

                </ul>


            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#affidabile"><h2><i><i class="fa fa-wrench"></i> Affidabile e sempre pronto all'uso</i></h2></a>

                <ul id="affidabile" class="large-block-grid-2 content small">
                    <li>
                        <h4>8 anni di Garanzia</h4>
                        <p>
                            Garanzia su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
                        </p>
                    </li>
                    <li>
                        <h4>Sempre pronto all'utilizzo</h4>
                        <p>
                            Ha una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita manutenzione.
                        </p>
                    </li>

                    <li>
                        <h4>Test automatici di autoverifica</h4>
                        <p>
                            Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
                        </p>
                    </li>

                    <li>
                        <h4>Consumabili a prezzi convenienti</h4>

                        <ul class="small">
                            <li>Batteria: <strong>165 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                        </ul>

                    </li>
                    <%= partial "callToAction" %>
                </ul>
            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#assistenza"><h2><i><i class="fa fa-briefcase"></i> Centri Assistenza in tutta Italia</i></h2></a>

                <ul id="assistenza" class="large-block-grid-2 content small">
                    <li>
                        <h4>Centri Assistenza in tutta Italia</h4>
                        <p>
                            Iredeem offre un’assistenza capillare in tutte le città italiane. Persone vere a tua disposizione per ogni necessità.
                        </p>
                    </li>
                    <li>
                        <h4>Installazione e collaudo</h4>
                        <p>
                            Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico</strong>. Non dovrai preoccuparti di nulla!
                        </p>
                    </li>

                    <li>
                        <h4>Persone in carne e ossa</h4>
                        <p>
                            Iredeem, distributore Ufficiale di Philips è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
                        </p>
                    </li>

                    <li>
                        <h4>Aggiornamenti inclusi</h4>
                        <p>
                            In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.

                            La Philips provvede ad inviare un proprio tecnivo per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
                        </p>
                    </li>
                    <li>
                        <h4>Assistenza in caso di uso</h4>
                        <p>
                            In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assistervi in questi momenti senza nessun costo aggiuntivo</strong>.
                        </p>
                    </li>
                    <li>
                        <h4>Formazione all'uso</h4>
                        <p>
                            Iredeem offre la gestione dei corsi BLSD e dei relativi corsi di aggiornamento a prezzi vantaggiosi per chi acquista un defibrillatore Philips.
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>

        <hr>

        <div id="formContatti" class="row">


            <div class="wufooNew columns">
                <p class="header">
                    <span class="big"><%= data.page.testataForm.prima || "RICHIEDI" %></span><br />
                    <span class="medium"><%= data.page.testataForm.seconda || "UN PREVENTIVO GRATUITO" %></span>
                </p>
                <div id="wufoo-q1wf0tmg16ukwpv">
                    Fill out my <a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv">online form</a>.
                </div>
                <script type="text/javascript">var q1wf0tmg16ukwpv;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'fucinadeltag',
                    'formHash':'q1wf0tmg16ukwpv',
                    'autoResize':true,
                    'height':'641',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'hide',
                    'ssl':false};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { q1wf0tmg16ukwpv = new WufooForm();q1wf0tmg16ukwpv.initialize(options);q1wf0tmg16ukwpv.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');
                </script>
            </div>

            <div class="large-5 medium-5 columns">
                <h3>
                    Siamo a tua disposizione <br/>
                    <span class="small">(Lun-Ven dalle 8.30 alle 17.30)</span>
                </h3>
                <ul class="large-block-grid-1">
                    <li>
                        <h5 class="subheader"><i class="fa fa-tachometer"></i> Ricevi un preventivo in pochi minuti compilando il form</h5>
                    </li>
                    <li>
                        <h5 class="subheader"><i class="fa fa-headphones"></i> Un esperto è qui per rispondere alle tue domande</h5>
                    </li>
                    <li>
                        <h5 class="subheader"><i class="fa fa-phone"></i> Se preferisci ti chiamiamo noi al telefono, così ne parliamo</h5>
                    </li>
                    <li>
                        <div class="box_nverde">
                            <span>Usa il Numero Verde gratuito!</span><br />
                            <span class="numero"> 800 782 217 </span><br />
                            <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>
                        </div>
                    </li>
                    <li>
                        <img src="http://lh3.googleusercontent.com/-KPf0PQ1FKN0/U000JXHi_1I/AAAAAAAAlyM/p9hml4FO2sw/w400-no/_M5066A_OnSite_Angledview_lg.jpg">
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>